# Default ignored files
/../../navigator project /.idea/shelf/
/../../navigator project /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../navigator project /.idea/httpRequests/
# Datasource local storage ignored files
/../../navigator project /.idea/dataSources/
/../../navigator project /.idea/dataSources.local.xml
